language = "python3"
run = "echo men's clothing in neon pink"
# If I get sent a pull request, do I have to accept it?
# Also, i know the admins can see me: why does the pc reset every time
# Every day i add the raccoon dance to my favorite gifs on Discord
# And the next day, it's gone. Let me have this one thing https://media.discordapp.net/attachments/753571945605234728/777921419249975316/racc_dance.gif